@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

@-moz-document url-prefix() {
    fieldset { display: table-cell; }
}

html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: 'Montserrat', sans-serif;
    /* Margin bottom by footer height */
    margin-bottom: 64px;
}
.navbar-default {
    background-color: #16547e;
    border-color: transparent;
    text-transform: uppercase;
    font-size:11px;
}
.navbar-brand {
    padding: 15px 0px;
    margin-right: 10px;
}
.navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #DF7401;
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ccc;
    background-color: transparent;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.dropdown-menu>li>a {
    font-size:12px;
    text-transform:none;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: #fff;
    background-color: transparent;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 28px;
    height: 4px;
    border-radius: 2px;
}
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
#navbar .signup>li>a {
    padding-top: 7px;
    padding-bottom: 7px;
    margin: 10px 5px;
    color: red;
}
#navbar .signup>li>a:hover {
    padding-top: 7px;
    padding-bottom: 7px;
    margin: 10px 5px;
}
.navbar {
    margin-bottom: 0px;
}

/* Left side menu Starts here */
#main {
    min-height: 635px;
    overflow: hidden;
}
.nav.main-menu {
    margin-left: -15px;
    margin-right: -15px;
}
#user-profile{
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -23px;
    min-height: 70px;
    padding-top: 23px;
    padding-left: 10px;
    background-color: #413f3e;
}
#user-profile>li>span{
    padding-left: 10px;
    font-size: 18px;
}
#new-collection {
    padding: 10px 0px;
 }
#sidebar-left {
    background-color: #F4F1E3;
    padding-top: 23px;
    color: #fff;
    position:relative;
    z-index: inherit;
    padding-bottom: 3000px !important;
    margin-bottom: -3000px !important;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}

#sidebar-left>.nav>li>a{
    color: #413F3E;
    border-bottom: 1px solid #879aac;
}

#sidebar-left>.nav>li>a:hover{
    color: #16547E;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus, .nav > li > a:hover, .nav > li > a:focus {
    background:rgba(0, 0, 0, 0.1);
}
.nav.main-menu > li > a:hover, .nav.main-menu > li > a:focus, .nav.main-menu > li.active > a, .nav.main-menu .open > a, .nav.main-menu .open > a:hover, .nav.main-menu .open > a:focus, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > li.active > a {
    background:rgba(0, 0, 0, 0.1);
    color:#f0f0f0;
}
.nav.main-menu a.active {
    background:rgba(0, 0, 0, 0.2);
}
.nav.main-menu a.active:hover {
    background:rgba(0, 0, 0, 0.2);
}
.nav.main-menu a.active-parent {
    background: rgba(0, 0, 0, 0.3);
}
.nav.main-menu a.active-parent:hover {
    background: rgba(0, 0, 0, 0.3);
}

.main-menu .dropdown-menu {
    position: absolute;
    z-index: 2001;
    left: 100%;
    top: 0;
    float: none;
    margin: 0;
    border: 0;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    padding: 0;
    background: #413f3e;
    box-shadow: none;
    visibility:hidden;
}
.main-menu .active-parent:hover + .dropdown-menu {
    visibility:visible;
}
.main-menu .active-parent + .dropdown-menu:hover {
    visibility:visible;
}
.main-menu .dropdown-menu > li > a {
    padding:9px 15px 9px 40px;
    color:#f0f0f0;
}
.main-menu .dropdown-menu > li:first-child > a {
    -webkit-border-radius: 0 4px 0 0;
    -moz-border-radius: 0 4px 0 0;
    border-radius: 0 4px 0 0;
}
.main-menu .dropdown-menu > li:last-child > a {
    -webkit-border-radius: 0 0 4px 0;
    -moz-border-radius: 0 0 4px 0;
    border-radius: 0 0 4px 0;
}

@media (min-width: 992px) {

    .main-menu .dropdown-menu {
        position: relative;
        z-index: inherit;
        left:0;
        margin: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        background:rgba(0, 0, 0, 0.2);
        visibility: visible;
    }
    .main-menu .dropdown-menu > li > a {
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        border-radius: 0 !important;
    }
}
/* Left side menu Ends here */

#content {
    position: relative;
    padding-bottom: 3000px !important;
    margin-bottom: -2980px !important;
    overflow: hidden;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}

.search {
    background-color:#F5FBEF;
    padding: 20px 20px;

}

#advance {
    display: none;
}

select.form-control{
    font-size: 14px;
}

#search-results{
    margin-top: 30px;
    margin-bottom: 30px;
}

#search-results>.panel>.panel-footer {
    background-color: #CCCCCC;
    height: 60px;
}
#search-results>.panel>.panel-body{
    background-color: #F4F1E3;
}
#search-results>.panel>.panel-body>.row{
    margin-bottom: 20px;
}

#cardList {
    margin-top: 30px;
}
.text-label {
    margin-top: 11.5px;
    margin-bottom: 11.5px;
    font-size: 16px;
    font-weight: bold;
}

.text-value {
    margin-top: 6.5px;
    margin-bottom: 11.5px;
    font-size: 12px;
}

.header-icon{
    text-align: right;
    cursor: pointer; cursor: hand;
    vertical-align: top;
}
.expand-collapse-icon{
    text-align: right;
    cursor: pointer; cursor: hand;
    vertical-align: top;
    height: 10px;
}

/* For Carousel */

.ca-container{
    position:relative;
    margin:0px auto 0px auto;
    height:200px;
    padding: 30px;
}

.ca-wrapper{
    width:100%;
    height:100%;
    position:relative;
}
.ca-item{
    position:relative;
    float:left;
    height:100%;
    text-align:center;
}

.ca-nav span{
    width:25px;
    height:38px;
    background:transparent url("../../img/arrows.png") no-repeat top left;
    position:absolute;
    top:50%;
    margin-top:-19px;
    left: 2px;
    text-indent:-9000px;
    opacity:0.7;
    cursor:pointer;
    z-index:100;
}
.wrapper { 
        background:#EFEFEF; 
        box-shadow: 1px 1px 10px #999; 
        margin: auto; 
        text-align: center; 
        position: relative;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        margin-bottom: 20px !important;
        width: 1024px;
        padding-top: 5px;
}
.scrolls { 
        overflow-x: scroll;
        overflow-y: hidden;
        height: 400px;
    white-space:nowrap
} 
.ca-nav span.ca-nav-next{
    background-position:top right;
    left:auto;
    right:2px;
}
.ca-nav span:hover{
    opacity:1.0;
}

.chart rect {
    fill: steelblue;
}

.chart text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: end;
}


.btn-default {

    background-color: transparent;
    border: solid 2px #fff;
    margin-right:15px;
}

.btn-sm,
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-custom {
  padding: initial;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  float: right;
}
.btn-default:hover {
    color:#ccc;
    background-color:transparent;
    border:solid 1px ;
}

.entry-page-title.container {
    background: #00B1B5; !important;
    border-radius: 0 0 0 0 ;
    margin-top: 30px;
    color: #333;
}
.entry-page-title.container-fluid {
    background: #00B1B5; !important;
    border-radius: 0 0 0 0;
    margin-top:20px;
    color: #333;
}

.entry-page-title.container>.entry-title {
    color: white;
}

.form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}

.login-input {
    height: 45px;
    width: 100%;
    padding: 8px 10px;
    border: 2px solid darkgray;
    border-radius: 3px;
    font-size: 16px;
}



.container .text-muted {
    margin: 20px 0;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: auto;
    background-color: #36454A;
    margin-top: 20px;
}
menu {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.footer-menu {
    margin: 20px 0;
}
.copyrights {
    background: #3E4246;
    padding: 0;
    font-size: 12px;
    border-top: 1px solid #3E4246;
    margin-top: 15px;
}
.footer-menu ul >li {
    list-style: none;
    list-style-position: outside;
    float: right;
    display: inline;
    margin: 5px;
}
.footer-menu ul >li>a {
    color: #FA7D7D;
}
.footer-menu ul>li>a:hover{
    color: dodgerblue;
    text-decoration: none;
}
.red {
    color: #FA7D7D;
}

.col-lg-7>.input-group>.input-group-btn>.btn-default:hover {
  color:red;
}

menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.green {
    color: #2d9d23;
}
